/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-size: 12pt;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Evita que aparezca scroll horizontal en cualquier visualización */
}

body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  /*display: flex;/* body que es un contenedor flex y que sus elementos hijos deben apilarse verticalmente.*/
  /*flex-direction: column; /*los apila verticalmente*/
}

/* HEADER/MENÜ */
.navbar {
  align-items: center;
  width: 100%; /* ocupa todo el ancho */
  height: 135px; /* altura del menú */
  background-color: #000; /* fondo negro */
  flex-wrap: wrap;
  perspective: 1000px; /* para 3D */
}

.navbar-brand img {
  box-sizing: border-box;
  margin-left: clamp(20px, 8vw, 136px);
  /*margin: 0;*/
  margin-right: clamp(20px, 6vw, 0px);
  /* cuando la pantalla se reduce: nunca menos de 20px y nunca más de 136px (izquierda) o 00px (derecha)*/
  transform-style: preserve-3d;
  animation: flipLogo 6s ease-in-out infinite;
}

.navbar .container-fluid {
    /*padding: 0 136px; /* Transferimos el padding al contenedor de Bootstrap */
   /* max-width: 100%; /* Si Bootstrap lo limita */
}

/* animación logo*/
@keyframes flipLogo {
  0% {
    transform: rotateY(0deg);
  }

  /* 0s: quieto */
  33.33% {
    transform: rotateY(0deg);
  }

  /* 3s: todavía quieto */
  100% {
    transform: rotateY(360deg);
  }

  /* 6s: giro completo */
  /*100% { transform: rotateY(360deg); }     /* 9s: permanece quieto */
}

/* Enlaces del menú) */
.navbar-nav {
  /*display: flex; /* Asegura que los elementos se alineen horizontalmente */
  /* margin-left: auto; /* Empuja el menú al centro-derecha */
  /* margin-right: 40px; /* Espacio entre el menú y los botones */
  flex-grow: 1;
  justify-content: center;
  gap: 10px; /* espacio entre items */
}

.navbar-nav .nav-link {
  color: #fec306; /* Color amarillo de los enlaces */
  font-size: 1rem; /* Ajusta el tamaño de fuente */
  font-weight: 700; /* nivel de Negrita */
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffffff; /* blanco al pasar el mouse */
  text-decoration: underline;
}

/* BOTONES DE ACCIÓn */
.buttons {
  display: flex; /* Para que los botones se alineen horizontalmente */
  gap: 20px;
  text-align: center;
  font-size: 1rem;
  box-sizing: border-box;
  margin: 0px 136px 0px 0px;
  font-weight: 700;
}

.buttons .btn {
  font-family: 'Figtree', sans-serif;
  font-size: 1rem;
  padding: 10px 25px;
  border-radius: 0; /* Bordes cuadrados */
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border: none; /* Eliminar bordes por defecto si los hay */
}

.buttons .login {
  background-color: #fec306;
  color: #000000; /* Texto negro */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttons .login:hover {
  background-color: #ffffff;
}

.buttons .register {
  background-color: #fec306;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttons .register:hover {
  background-color: #ffffff;
}

/* SECCION ENCABEZADO */
#encabezado {
  position: relative;
  max-width: 1920px;
  height: calc(100vh - 0px); /* le da altura a la sección para que no se la coma el menu */
  background-image: url('imagenes/fondo2.png'); /* Ruta de la imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  /* z-index: 2; */
}

#encabezado h1 {
  font-size: 3.4rem;
  text-align: center;
  font-style: italic;
  margin: 200px 136px 0px 136px;
  font-weight: 900; /* nivel máximo de Negrita */
  color: #000000;
}

.btn-inscribirse {
  display: flex;
  margin: 0px 0 200px 0;
  padding: 20px 50px;
  background-color: #000;
  color: #fec306;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  transition: background-color 0.3s ease;
}

.btn-inscribirse:hover {
  background-color: #ffffff;
}

/*SECCION EVENTOS*/

#eventos {
  background-image: url('imagenes/fondoeventos.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 250px 136px 100px 136px;
}

#eventos h1 {
  font-size: clamp(1.7rem, 4.5vw, 3.4rem);
  font-weight: 900;
  font-style: italic;
  color: #fec306;
  text-transform: uppercase;
  margin-bottom: 50px;
}

/* CONTENEDOR PRINCIPAL */
.contenedor-eventos {
  display: flex;
  justify-content: space-around;
  /*align-items: flex-start;*/
  align-items: center;
  flex-wrap: wrap;
  gap: 150px;
}

/* CÍRCULO DE EVENTO */
.evento-circulo {
  width: 45vw;
  height: 45vw;
  max-width: 500px;
  max-height: 500px;
  border: 8px solid #fec306;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido-circulo {
  text-align: center;
  color: #fff;
  max-width: 100%;
}

.contenido-circulo h2 {
  /* Mínimo de 1.2rem, ideal de 2.2vw, Máximo de 2.5rem */
  font-size: clamp(1.2rem, 2.2vw, 2.5rem);
  font-weight: 900;
  font-style: italic;
}

.contenido-circulo h3 {
  font-size: clamp(1rem, 1.8vw, 2.25rem);
  font-weight: 700;
  line-height: 2; /*INTERLÑINEADO ENTRE H2 Y H3*/
}

.contenido-circulo h4 {
  font-size: clamp(1rem, 1.9vw, 2.35rem);
  font-weight: 500;
  line-height: 2;
}

.ubicacion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1rem;
  font-weight: 500;
  margin-top: -5px;
  margin-bottom: 10px;
}

.ubicacion p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1rem;
  font-weight: 500;
  margin-top: -5px;
  margin-bottom: 10px;
}

.ubicacion i {
  font-size: clamp(1rem, 0.5vw, 1.5rem);
  color: #ffffff;
  margin-bottom: 20px;
}

.btn-entrada {
  display: inline-block;
  background-color: #fec306;
  color: #000;
  font-weight: 900;
  text-decoration: none;
  padding: 20px 25px;
  text-transform: uppercase;
  font-size: 1.1rem;
  transition: background 0.3s ease;
  /*margin-top: -5px;*/
}

.btn-entrada:hover {
  background-color: #fff;
}

/* RANKING */
.ranking {
  color: #fff;
  border: 5px solid #fec306;
  width: 30vw; /* Reducción proporcional */
  height: 45vw;
  max-width: 550px;
  max-height: 500px;
  font-size: 1rem;
}

.logo-rankingteg {
  width: 20%;
}

.logo-rankingglobo {
  width: 13%;
}

.ranking-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  border-bottom: 0px solid #fec306;
  padding: 10px 20px;
}

.ranking-header h2 {
  font-weight: 900;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-style: italic;
  color: #fff;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

thead {
  background-color: #fec306;
  color: #000;
  font-weight: 900;
}

tbody tr {
  border-top: 5px solid #fec306;
}

/*jugadores*/
td {
  padding: 13px 0;
  border-right: 5px solid #fec306;
  font-weight: 700;
}

th {
  padding: 10px 0;
  border-right: 5px solid #fec306;
  font-weight: 900;
}

td:last-child,
th:last-child {
  border-right: none;
}

.btn-ranking {
  display: none;
}

.btn-ranking {
  display: none;/* Por defecto, sigue oculto. Solo se muestra en el media query de 1200px */
  background-color: #fec306;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background 0.3s ease;
  margin-bottom: 20px;
}

.btn-ranking:hover {
  background-color: #fff;
}

/* SECCION VIDEOS */
#videos {
  position: relative;
  max-width: 1920px;
  /*height: 100%;*/
  background-image: url('imagenes/videofondo.png');
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  padding: 0 0 100px; /* Padding inferior para dar espacio, el superior lo ajusta el H1 */
}

.contenedor-videos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0px 0 0px 0;
}

#videos h1 {
  font-size: 3.4rem;
  font-style: italic;
  margin: 100px 0px 100px 136px;
  /*margin: 100px clamp(20px, 5vw, 136px) 100px clamp(20px, 5vw, 136px); */
  font-weight: 900;
  color: #fec306;
  text-transform: uppercase;
}

#videos .item {
  background-color: #fec306;
  padding: 5px;
  border-radius: 0px;
  flex: 1 1 300px;
  max-width: 415px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-bottom: 85px;
}

#videos .item img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

#videos .item:hover {
  transform: scale(1.03);
}

.modal-content {
  /*estilos al pop up*/
  background-color: #fec306 !important;
  border-radius: 0 !important;
}

/*SECCIÓN NOTICIAS*/
#noticias {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#carouselExampleCaptions .carousel-item {
  position: relative; /* Necesario para posicionar el ::after */
}

#carouselExampleCaptions .carousel-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Cubre toda la imagen para un degradado gradual */
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent 80%);
  pointer-events: none; /* Evita que interfiera con los clics */
  z-index: 1; /* situa los elementos debajo del texto */
}

#carouselExampleCaptions .carousel-item img {
  height: auto;
  object-fit: cover;
  width: 100%; /* Asegura que la imagen ocupe todo el ancho */
}

/* Contenedor del Caption (texto y botón) */
#carouselExampleCaptions .carousel-caption {
  position: absolute;
  z-index: 2; /* Por encima del ::after */
  bottom: 0;
  left: 136px; /*margen a la izq.*/
  text-align: left !important;
  padding-bottom: 75px;
  padding-left: 0%;
  padding-right: 0%;
  width: 100%;
  max-width: 1000px; /* Limitamos el ancho del texto para que no se extienda por toda la pantalla */
  transform: none; /* Anula cualquier transformación que Bootstrap pudiera añadir */
}

/* Título (h1) */
#carouselExampleCaptions .carousel-caption h1 {
  font-size: 3.4rem;
  font-weight: 900;
  color: #fec306;
  margin-bottom: 10px;
  /* text-shadow: 0px 1px 20px rgba(0, 0, 0, 1), 
    -1px 1px 15px rgba(0, 0, 0, 1);*/
  text-transform: uppercase;
  font-style: italic;
}

/* Párrafo (p) */
#carouselExampleCaptions .carousel-caption p {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 30px;
  /*text-shadow:  0px 1px 20px rgba(0, 0, 0, 1), 
    -1px 1px 15px rgba(0, 0, 0, 1), 
    0px 0px 5px rgba(0, 0, 0, 1), 
    0px 0px 20px rgba(0, 0, 0, 1);*/
  font-weight: 500;
}

/* Botón 'VER MÁS' */
#carouselExampleCaptions .carousel-caption .btn-ver-mas {
  display: inline-block;
  background-color: #fec306;
  color: #000000;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

#carouselExampleCaptions .carousel-caption .btn-ver-mas:hover {
  background-color: #ffffff;
}

/* Indicadores */
#carouselExampleCaptions .carousel-indicators .active {
  opacity: 1;
  background-color: #ffffff;
}

#carouselExampleCaptions .carousel-indicators [data-bs-target] {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}

/* Controles de navegación (flechas) */
/*Estilos para el ÍCONO 'PREV'*/
#carouselExampleCaptions .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fec306'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  background-color: transparent;
  width: 3rem;
  height: 3rem;
}

/*Estilos para el ÍCONO 'NEXT'*/
#carouselExampleCaptions .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fec306'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-color: transparent;
  width: 3rem;
  height: 3rem;
}

/*SECCION HISTORIA*/
#historia {
  position: relative;
  padding: 50px 0;
  overflow: hidden;
  /*background-image: url('imagenes/historiafondo2.png');*/
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

#historia h1 {
  font-size: 3.4rem;
  font-style: italic;
  margin: 40px 0 50px 136px;
  font-weight: 900;
  color: #fec306;
  text-transform: uppercase;
  text-align: left;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around; /* Distribuye los ítems uniformemente */
  padding: 100px 20px 50px; /* Agrega un poco de relleno superior/inferior/laterales */
}

.timeline-item {
 /*position: absolute;*/
  text-align: center;
  width: 180px;
}

.timeline-item .circle {
  width: clamp(50px, 12vw, 90px);
  height: clamp(50px, 12vw, 90px);
  margin: 0 auto 50px;
  border-radius: 50%;
  border: clamp(2px, 12vw, 4px) solid #fec306;
  background-clip: content-box;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.timeline-item .circle:hover {
  transform: scale(1.1);
}

.timeline-item .circle.big {
  padding: 15px;
  width: clamp(90px, 20vw, 180px);
  height: clamp(90px, 20vw, 180px);
  margin-top: clamp(-90px, -10vw, -180px); /*subo el círculo grande para que las bases de todos coincidan */
}

.timeline-item .year {
  font-weight: 700;
  color: #fec306;
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.timeline-item .desc {
  font-size: clamp(0.9rem, 1.8vw, 1.2rem);
  color: #fec306;
  font-weight: 900;
}

.timeline-item .year-2025 {
  font-weight: 700;
  color: #fec306;
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.timeline-item .desc-2025 {
  font-size: clamp(0.9rem, 1.8vw, 1.2rem);
  color: #fec306;
  font-weight: 900;
}

/*  Colores de los círculos */
.bg-pink {
  background-color: #ff5ce0;
}

.bg-green {
  background-color: #0a4e11;
}

.bg-red {
  background-color: #ae1c26;
}

.bg-blue {
  background-color: #174bb6;
}

.bg-yellow {
  background-color: #f7f000;
}

/*SECCIÖN COMUNIDAD*/

#comunidad {
  background-color: #000;
  padding: 3vw;
}

#comunidad h1 {
  font-size: 3.4rem;
  font-style: italic;
  /*margin: 0px 0 50px 136px;*/
  font-weight: 900;
  color: #fec306;
  text-transform: uppercase;
  /*text-align: left;*/
  text-align: center;
  margin-bottom: 2vw;
  margin-top: 5vw;
}

.comunidad-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7vw;
  flex-wrap: wrap;
  margin-top: 7vw;
  padding-bottom: 3vw;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.comunidad-botones div {
  margin-bottom: 5vw;
  padding: 1.5vw;
  border-radius: 50% !important; /*Esto lo hace redondo*/
  align-items: center !important;
}

.comunidad-botones div:hover {
  transform: scale(1.05);
}

.comunidad-botones svg {
  width: 4.5vw;
  height: 4.5vw;
  display: flex;
  margin: auto;
}

.x {
  background-color: #0a4e11;
  color: #000;
}

.instagram {
  background-color: #ff5ce0;
  color: #000000;
}

.youtube {
  background-color: #ae1c26;
  color: #000000;
}

.tiktok {
  background-color: #f7f000;
  color: #000000;
}

.facebook {
  color: #174bb6;
}

.facebook svg {
  width: 7.5vw !important; /* 35 % más grande que los otros */
  height: 7.5vw !important;
  display: flex;
  margin: auto;
}

/*FOOTER*/
.tegleague-footer {
  background-color: #fec306;
  color: #000000;
  /*height: 180px !important;*/
}

/* Estilos del Logo con Imagen */
.tegleague-logo {
  /*width: 100%;
  height: auto;*/
  margin-right: 25px;
  margin-left: 25px;
  /*margin-bottom: 50px;*/
  /*width:100%;
  height: 100%;*/
}

/* Estilos de Contacto y Copyright */
.tegleague-info-text {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.tegleague-text-group-final {
  flex-grow: 1; /* Ocupa el espacio restante para empujar su contenido a la derecha */
  /*margin-bottom: 40px;*/
  margin-top: 10px;
  margin-left: 0px;
}

.copyright-text {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
}

/* Estilos del Menú Vertical */
.tegleague-nav .nav-link {
  color: #000000;
  font-weight: 700;
  padding: 2px 0;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.tegleague-nav .nav-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.tegleague-menucolumna {
  margin-right: -55px;
  margin-left: 15px;
  align-self: flex-start !important; /* la trae al inicio vertical de la fila */
  /* margin-top: -20px !important; /*sube el menu indicandole prioridad*/
}

/* Estilos del Newsletter (Suscripción) */
.tegleague-newsletter-title {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 8px;
}

.tegleague-form {
  margin-right: 0px;
  /*margin-bottom: 50px;*/
  display: flex;
  flex-wrap: nowrap; /* Para mantener input y botón en línea */
  gap: 10px; /* Espacio pequeño entre input y botón */
}

.tegleague-footer .tegleague-input {
  background-color: white;
  border: none;
  padding: 10px 15px;
  flex-grow: 1;
  border-radius: 0;
}

/* Botón SUSCRIBIR */
.tegleague-footer .tegleague-subscribe-btn {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Figtree', sans-serif;
  font-size: 0.75rem;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.tegleague-footer .tegleague-subscribe-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Estilos para el botón "Volver Arriba" */
.scroll-to-top {
  position: fixed; /* Posicionamiento fijo para que se mantenga visible */
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Lo convierte en círculo */
  background-color: #000000;
  border: 3px solid #fec306; /*Contorno amarillo*/
  color: #fec306;
  /* Centrado de la flecha usando Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  /* Tamaño de la flecha */
  text-decoration: none; /* Quita el subrayado del enlace */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  transition: background-color 0.3s, transform 0.3s, color 0.3s; /* Transición*/
}

/* Efecto al pasar el ratón (hover) */
.scroll-to-top:hover {
  background-color: #fec306; /* Rellena el círculo de amarillo */
  color: #000000;  /* Pone la flecha en negro para contraste */
  transform: translateY(-3px); /* Pequeño movimiento hacia arriba */
}

/* --- TABLET (1024px a 768px) --- */
@media (min-width: 768px) and (max-width: 1024px) {
   
  /*MENÜ*/
  /* Contenedor con padding simétrico */
  .navbar .container-fluid {
    padding: 0 40px;
  }

  /* Logo con márgenes */
  .navbar-brand img {
    margin-left: 40px;
    margin-right: 20px;
    width: 50%;
  }

  /* Menú centrado */
  .navbar-collapse {
    flex-basis: auto;
    width: auto;
  }

  .navbar-nav {
    flex-grow: 1;
    justify-content: center;
    gap: 8px;
    margin-left: -50px;
  }

  .navbar-nav .nav-link {
    font-size: 0.8rem;
    white-space: nowrap;
  }

  /* Botones */
  .buttons {
    gap: 5px;
    flex-shrink: 0;
    min-width: 180px;   /* evita que se aplasten */
    margin-right: 40px; /* simetría con el logo */
    justify-content: flex-end;
  }

  .buttons .btn {
    padding: 8px 16px;
    font-size: 0.85rem;
  }

  /*ENCABEZADO*/
  #encabezado h1 {
    font-size: 2.75rem; /* Tamaño seguro */
    margin-left: 40px !important;
    margin-right: 40px !important;
    margin-bottom: -100px;
  }

  .btn-inscribirse {
    padding: 20px 50px;
    font-size: 1.35rem;
  }

  /*SECCIÓN EVENTOS*/
  #eventos {
    padding: 300px 0px 150px 0px !important; 
  }

  #eventos h1 {
    text-align: center !important; /* Centrado del H1 */
    margin: 0 auto 50px auto !important;
    font-size: 3rem;
  }

  .contenedor-eventos {
    flex-direction: column !important; 
    align-items: center !important;
    gap: 50px; 
  }

  .evento-circulo {
    /* Hacemos el círculo más grande (65vw y 600px de máx) */
    width: 50vw !important; 
    height: 50vw !important;
    max-width: 600px !important;  
    max-height: 600px !important;
  }
  .contenido-circulo h2 {
    font-size: 2.25rem;  /* Reducción del texto*/
     margin-top: px;
  }

  .contenido-circulo h3 {
    font-size: 2rem;
    margin-top: 0px;
  }

  .contenido-circulo h4 {
    font-size: 1.75rem;
  }

  .ubicacion p {
    font-size: 0.9rem;
    margin-top: 5px;
  }

  .ubicacion i {
    font-size: 0.9rem;
    margin-right: 0px;
    margin-top: 5px;
  }

  .btn-entrada {
    padding: 20px 15px;
    font-size: 1.2rem;
  }

  .btn-ranking {
    display: block !important; /* Muestra el botón */
    width: 40vw !important; /* Mismo ancho que el círculo */
    max-width: 600px !important;
    text-align: center;
    padding: 25px 15px;
    font-size: 1.7rem;
  }
  .ranking {
    display: none !important; /* Oculta la tabla del ranking */
     }

  /*SECCIÓN VIDEOS*/
  #videos {
    padding: 0 40px 100px 40px !important;
  }

  #videos h1 {
    text-align: center !important; /* Centrado del H1 */
    margin: 100px auto 50px auto !important; 
    font-size: 3rem;
  }

  .contenedor-videos {
    justify-content: center !important; /* Centra los videos si hay espacio */
    flex-direction: column; /* Apila los items verticalmente (uno debajo del otro) */
    align-items: center; /* Centra los items apilados */
    padding: 0 25px;
    gap: 0; /* Elimina el gap */
  }
  
  #videos .item {
    flex: 0 0 50% !important; 
    max-width: 50% !important; 
    margin: 10px !important; 
  }

  /* SECCIÓN NOTICIAS */
  #carouselExampleCaptions .carousel-caption {
    left:136px !important; /*margen izquierdo*/
    max-width: 750px !important; /* Ajuste seguro */
  }

  #carouselExampleCaptions .carousel-caption h1 {
    font-size: 2.5rem !important; 
  }

  #carouselExampleCaptions .carousel-caption p {
    font-size: 1.1rem !important; 
  }


  /*SECCIÓN HISTORIA */
  #historia h1 {
    text-align: center !important; /* Centrado del H1 */
    font-size: 3rem !important; 
    margin: 50px auto 100px auto !important;
  }

  .timeline {
    max-width: 900px !important; 
    padding: 50px 0px 0px 100px !important; 
    justify-content: space-around; /* Distribuye los ítems uniformemente */
    justify-content: space-around;/* reparte los ítems de forma uniforme */
    align-items: flex-start;
    margin: 0 auto;               /* centra el bloque */
    gap: 0px;                    /* espacio entre ítems */
  }

  .timeline-item {
    /*width: 140px !important;*/
    flex: 0 1 140px;/* ancho base 140px pero flexible */
    text-align: center;
    transform: translateX(-50%);
  }

  .timeline-item.item-2025 .circle.big {
  margin-left: 50px; /* aumentá o reducilo según lo que necesites */
}
  .timeline-item .year-2025 {
  padding: 0px 0px 0px 80px !important; 
  }
  .timeline-item .desc-2025 {
  padding: 0px 0px 0px 70px;  
  }
  .timeline-item.item-2025 {
  width: 200px !important; /* más ancho solo para este ítem */
}


  /*SECCIÓN COMUNIDAD */
  #comunidad h1 {
    font-size: 3rem !important; 
  }
  
  .comunidad-botones svg {
    width: 5.5vw; 
    height: 5.5vw;
  }

  .facebook svg {
    width: 8.5vw !important;
    height: 8.5vw!important;
  }

/*FOOTER*/

.tegleague-logo {
  width: 100%;
  height: auto;
  margin-right: 0px;
  margin-left: 25px;
  /*margin-bottom: 50px;*/
  /*width:100%;
  height: 100%;*/
}

/* Estilos de Contacto y Copyright */
.tegleague-info-text {
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.tegleague-text-group-final {
  margin-top: 10px;
  width: 100%;
  max-width: 450px;
}

.copyright-text {
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
}

/* Estilos del Menú Vertical */
.tegleague-nav .nav-link {
  color: #000000;
  font-weight: 700;
  padding: 2px 0;
  font-size: 0.8rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.tegleague-nav .nav-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.tegleague-menucolumna {
  margin-right: -65px;
  margin-left: 25px;
  align-self: flex-start !important; /* la trae al inicio vertical de la fila */
  /* margin-top: -20px !important; /*sube el menu indicandole prioridad*/
}
 }

/*---PANTALLA MOVILES---*/
@media (max-width: 767.98px) { 

  /*MENU*/
  .navbar {
    /*padding: 10px 15px;*/
    height: auto; /* Dejar que la altura se ajuste al contenido */
    flex-wrap: nowrap; /*se mantiene en una línea en escritorio */
    padding: 0 136px;
  }

  .navbar-brand img {
    width: 50%;
    margin: 0 0 0 35px;
  }

  /* Sobrescribe el estilo del botón de hamburguesa */
  .navbar-toggler {
    border: none; /* Sin borde */
    padding: 0;
    margin-right: 35px; /* Margen derecho de 25px para el toggler */
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(245, 183, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    width: 50px;
    height: 50px;
  }

  /* Estilos para el menú desplegado */
  .navbar-collapse {
    background-color: #000000; /* Fondo negro para el menú desplegable */
    padding: 5%;
    text-align: center;
    width: 100%;
    /* position: relative;
        left: 0;
        top: 100%; /* Ajusta según la altura de tu header */
    /* z-index: 1000;*/
  }

  .navbar-nav {
    flex-direction: column; /* Apila los enlaces verticalmente */
    margin-left: 0;
    margin-right: 0;
    gap: 1px;
    width: 100%;
  }

  .navbar-nav .nav-link {
    padding: 10px 0;
    font-size: 1rem; /* Ajusta el tamaño de fuente en móvil */
    width: 100%;
    margin: 0;
  }

  .buttons {
    flex-direction: column; /* Apila los botones verticalmente */
    margin-top: 10px;
    width: 100%;
  }

  .buttons .btn {
    width: 50%; /* Ancho de los botones en móvil */
    margin: 5px auto;
  }

  /*ENCABEZADO*/
  #encabezado {
    height: calc(100vh - 350px); /*altura adaptable*/
  }

  #encabezado h1 {
    font-size: clamp(1.7rem, 7vw, 3rem); /* Escala fluida según el ancho */
    margin-top: 150px;
  }

  .btn-inscribirse {
    padding: 15px 25px;
    font-size: 1rem;
    margin-top: 30px;
  }

/*SECCION EVENTOS*/

  /* Ajusta el contenedor para centrar mejor el círculo cuando el ranking colapsa */
  .contenedor-eventos {
    justify-content: center;
    flex-direction: column; /* Apila para centrar el botón sobre el círculo */
    align-items: center;
  }

  /* espacio del círculo para ser más visible */
  .evento-circulo {
    width: 70vw;
    height: 70vw;
    margin-top: 20px;
    max-width: 450px; /* Mantiene un máximo para no desbordar */
    max-height: 450px;
  }

  #eventos {
    padding: 200px 5vw 50px 5vw;
  }

  #eventos h1 {
    text-align: center;
    font-weight: 900;
    font-style: italic;
    color: #fec306;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  /* Reducción del tamaño del círculo */
  .evento-circulo {
    width: 70vw;
    height: 70vw;
    max-width: 350px;
    max-height: 350px;
   
  }

  .contenido-circulo h2 {
    font-size: 1.2rem;  /* Reducción del texto*/
     margin-top: px;
  }

  .contenido-circulo h3 {
    font-size: 1rem;
    margin-top: 0px;
  }

  .contenido-circulo h4 {
    font-size: 1rem;
  }

  .ubicacion p {
    font-size: 0.5rem;
    margin-top: 5px;
  }

  .ubicacion i {
    font-size: 0.7rem;
    margin-right: -2px;
    margin-top: 5px;
  }

  .btn-entrada {
    padding: 10px 10px;
    font-size: 0.7rem;
  }

 .btn-ranking {
    width: 60vw;
    max-width: 450px;
    margin-top: -100px;
     display: block; /* Mostrar el botón */
  }

 .ranking {
    display: none;/* Oculta el div.ranking y muestra un botón en su lugar */
  }

  /* SECCION VIDEOS */
  #videos {
    padding-bottom: 50px; /* Reducimos el padding inferior en móvil */
  }

  #videos h1 {
    font-size: 1.6rem;
    margin: 50px 25px 50px 25px;/* Reducimos el margen en mobile para centrar el título */
    text-align: center; /* Centramos el título en mobile */
  }

  /*Forzar apilamiento total en móvil */
  .contenedor-videos {
    flex-direction: column; /* Apila los items verticalmente (uno debajo del otro) */
    align-items: center; /* Centra los items apilados */
    padding: 0 25px;
    gap: 0; /* Elimina el gap */
  }

  #videos .item {
    flex: 0 0 80%;/* Fuerza al item a ocupar % del ancho del contenedor y a apilarse */
    max-width: 80%; /* Limita el ancho del item */
    margin-bottom: 10px;
  }

  
  .item img {
    width: 100%;/* Ajusta la imagen dentro del item para asegurar que ocupe el 100% de su contenedor */
    height: auto;
  }

  /* SECCION NOTICIAS*/
  /* Muestra el caption que Bootstrap oculta en mobile */
  #carouselExampleCaptions .carousel-caption.d-none.d-md-block {
    display: block !important;
  }

  /* Ajuste de posición y alineación para móviles */
  #carouselExampleCaptions .carousel-caption {
    padding-left: 5%;
    padding-right: 5%;
    top: 50%;
    left: 25px !important;
    right: auto !important; /* Elimina el 'right' para que el ancho se ajuste desde 'left' */
  }

  #carouselExampleCaptions .carousel-item img {
    min-height: 450px; /*alto del carrusel*/
  }

  #carouselExampleCaptions .carousel-caption h1 {
    font-size: 1.5rem;
    max-width: 90%;
  }

  #carouselExampleCaptions .carousel-caption p {
    font-size: 0.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;/* Limitar el párrafo a 3 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 85%;
    margin-bottom: 15px;
  }

  #carouselExampleCaptions .carousel-caption .btn-ver-mas {
    padding: 7px 15px;
    font-size: 0.75rem;
    margin-bottom: 30px;
  }

  #carouselExampleCaptions .carousel-control-prev {
    left: 5%;
  }

  #carouselExampleCaptions .carousel-control-next {
    right: 5%;
  }

  /* Flechas más pequeñas en móvil */
  #carouselExampleCaptions .carousel-control-prev-icon,
  #carouselExampleCaptions .carousel-control-next-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  /* Oculta los puntos de navegación en móvil para ahorrar espacio */
  .carousel-indicators {
    display: none;
  }

  /*SECCIÖN HISTORIA*/
  #historia {
    padding: 40px 20px 0px;
  }

  #historia h1 {
    text-align: center;
    margin: 0 auto -50px; /* Centra y ajusta margen inferior */
    font-size: 1.7rem;
    width: fit-content;
    padding: 0 10px;
  }

  /* Contenedor de la línea de tiempo */
  .timeline {
    display: flex;
    flex-direction: column; /* Alineación vertical */
    align-items: flex-start;
    height: auto; /* Altura automática */
    /*padding-left: 20px; /* Espacio para la línea central */
    position: relative;
    max-width: 500px; /* Limita ancho para centrar en móviles */
    margin: 0 auto;
  }

  /* Hito individual */
  .timeline-item {
    position: relative;
    width: 100%;
    margin-left: 80px;
    margin-bottom: 30px; /* Espacio entre hitos */
    text-align: left;
    /*display: flex; /* Para alinear círculo y texto */
    display: block;
    align-items: center;
    left: 0 !important; /* Anula 'left' de las posiciones específicas */
    top: 0 !important; /* Anula 'top' de las posiciones específicas */

  }

  /* Círculo (Hito) */
  .timeline-item .circle {
    /* Mantiene el CLAMP para proporcionalidad y ajusta el rango */
    width: clamp(40px, 10vw, 60px);
    height: clamp(40px, 10vw, 60px);
    margin: 0;
    flex-shrink: 0;
    /*margin-right: 10px;
    margin-top: 15px;*/
    position: absolute;
    transform: translateX(-50%);
    left: 80px;/* Mover a la izquierda para que su centro esté sobre la línea */
    z-index: 1;
  }

  /* Círculo grande (2025) */
  .timeline-item .circle.big {
    width: clamp(70px, 18vw, 100px);
    height: clamp(70px, 18vw, 100px);
     margin-top: clamp(0px, 0vw, 0px); /*ajusto circulo grande para que las bases de todos coincidan */
  }

  .timeline-item .circle:hover {
    transform: translateX(-50%) scale(1.1);
  }

  /* Contenedor de año y descripción */
  .timeline-item .year,
  .timeline-item .desc {
    font-size: clamp(0.5rem, 4vw, 1.2rem); /* fuentes proporcionales */
    color: #fec306;
    margin-top: 0;
  }

  .timeline-item .year {
    /*position: absolute;*/
    position: static;
    /*top: 0px; /* Posiciona el año encima */
    margin-left: 60px;
    margin-top: 0px;
    font-weight: 700;
  }

  .timeline-item .desc {
    font-weight: 900;
    line-height: 1.2;
    font-size: 1rem;
    margin-left: 60px;
    margin-top: -15px;
    max-width: calc(100% - 100px); /*evita que el texto se extienda demasiado */
  }

  .timeline-item .year-2025 {
    /*position: absolute;*/
    position: static;
    /*top: 0px; /* Posiciona el año encima */
    margin-left: 60px;
    margin-top: 15px;
    font-weight: 700;
  }

  .timeline-item .desc-2025 {
    font-weight: 900;
    line-height: 1.2;
    font-size: 1rem;
    margin-left: 60px;
    margin-top: -15px;
    max-width: calc(100% - 120px);
  }

  /*anula posiciones círculos*/
  .item-1976,
  .item-1978,
  .item-2012,
  .item-2014,
  .item-2025 {
    /* position: relative; */
    position: static !important;
    margin-top: 0 !important;
  }

  /*Corrección específica para el último ítem (Creación TEG LEAGUE) */
  .item-2025 .desc {
    margin-left: -30px;/* mueve el textoa la izquierda para compensar que es más grande */
  }

  /*SECCIÖN COMUNIDAD*/
  #comunidad {
    padding: 4vw;
  }

  #comunidad h1 {
    font-size: 1.7rem;
    margin-bottom: 3vw;
  }

  /* Contenedor de botones */
  .comunidad-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 3vw;
    gap: 5vw;
    margin-top: 5vw;
  }

  /* Botones circulares */
  .comunidad-botones div {
    margin-bottom: 5vw;
    padding: 1.5vw;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .comunidad-botones svg {
    width: 6vw;
    height: 6vw;
  }

  .facebook svg {
    width: 9vw !important;
    height: 9vw !important;
  }

  /* Colores */
  .x {
    background-color: #0a4e11;
    color: #000;
  }

  .instagram {
    background-color: #ff5ce0;
    color: #000;
  }

  .youtube {
    background-color: #ae1c26;
    color: #000;
  }

  .tiktok {
    background-color: #f7f000;
    color: #000;
  }

  .facebook {
    color: #174bb6;
  }

  /*FOOTER*/
  .hide-on-mobile {
    display: none !important;
  }

  .tegleague-footer {
    /*padding-top: 15px !important; 
    padding-bottom: 15px !important;*/
    height: 120px !important; /*fuerza el alto del footer*/
  }

  /* Asegura que el contenedor interno de Bootstrap tenga el padding */
  .tegleague-footer .container {
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-top: -20px;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  }

  /* La columna row debe anular el margen negativo: */
  .tegleague-footer .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  /* Columna del Logo (Izquierda) */
  .tegleague-left-column {
    width: 40%;
    align-items: center;
    padding-left: 15px;
    justify-content: flex-start;
  }

  .tegleague-logo {
    max-width: 90px;/* Limita el tamaño del logo */
    margin-right: 15px;
    margin-left: 0;
  }

  /* Logo (Imagen) */
  .tegleague-logo img {
    max-width: 75%;
    height: auto;
    margin-top: 25px;
    margin-left: 10px;
    /*min-width: 65px; /* Establece un tamaño MÍNIMO para evitar reducción excesiva */
    /* max-height: 70px; /* Tamaño máximo para el logo en móvil */
  }

  /* Columna del Newsletter (Derecha) */
  .tegleague-newsletter-col-adjust {
    margin-left: -20px;/* desplaza hacia la izquierda */
    margin-right: 20px;/* da aire a la derecha */
    width: 100%;/* asegura que no se rompa el flujo */
    max-width: none;/* quita limitaciones de Bootstrap */
  }

  .tegleague-form {
    gap: 5px;
    flex-wrap: nowrap;
  }

  .tegleague-newsletter-title {
    /*text-align: right;*/
    font-size: 0.75rem;
  }

  /* Input (Tu correo) y Botón */
  .tegleague-footer .tegleague-input {
    /* width: 70%; /* Más pequeño para dejar más espacio al botón */
    font-size: 0.7rem;
    min-width: 0; /* evita que el input fuerce el salto */
    flex: 1 1 auto; /*se adapta al espacio */
  }

  .tegleague-footer .tegleague-subscribe-btn {
    /* width: 40%; /* Más grande para el botón */
    font-size: 0.5rem;
    padding: 8px 12px;
    flex-shrink: 0; /* evita que el botón se achique demasiado */
  }

  /* Ocultar la columna del menú para ahorrar espacio en móvil */
  .tegleague-menucolumna {
    display: none !important;
  }

  /*BOTON TOP UP*/
  .scroll-to-top {
    bottom: 10px;
    right: 40px;
    width: 35px;
    height: 35px;
    font-size: 1rem;
    transform: none;/* Desactiva la animación de 'hover' que a veces interfiere en táctiles */
  }
   }









  